* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $main-font;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
}

a {
    text-decoration: none;
}
