header {
    .header-top {
        color: $text-main;
        font-weight: bold;
        background-color: $base-color;

        .container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            div {
                padding: 10px;
                i {
                    padding-left: 5px;
                }
            }
        }
    }
    .header-bottom {
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        figure {
            margin: 0;
            img {
                width: 100%;
            }
        }

        ul {
            display: flex;
            align-items: center;
            height: 150px;

            li {
                padding: 0 15px;
                list-style-type: none;
                height: 100%;
                line-height: 150px;
                text-decoration: none;
                position: relative;

                a {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 0.8rem;
                    padding: 10px;
                    &:hover:after {
                        content: "";
                        height: 3px;
                        width: 100%;
                        background-color: $base-color;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }

                    &:hover {
                        color: $base-color;
                    }
                }
            }
        }
        input {
            background-color: $text-main;
            background-image: url("../images/search.png");
            background-position: 90%;
            background-size: 25px;
            padding: 10px 0;
            text-align: 100px;
            border: none;
            border-bottom: 3px solid $base-color;
            background-repeat: no-repeat;

            color: black;
        }
    }
}
