#hero {
    background-image: url("../images/jumbotron.jpg");
    height: 350px;
}

.cards {
    height: 100%;
    background-color: $secondary-bg;
    padding: 2rem;
    display: flex;
    justify-content: center;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 10px 0;
        .card {
            display: flex;
            flex-direction: column;
            flex-basis: calc(100% / 6);
            padding: 10px;
            height: 350px;

            img {
                width: 100%;
                height: 250px;
            }

            figcaption {
                color: white;
                text-transform: uppercase;
                padding: 3px;
            }
        }

        .button {
            position: absolute;
            top: -60px;
            left: 10px;
            color: white;
            font-size: 2rem;
            font-weight: bold;
            padding: 10px;
            background-color: $base-color;
        }
    }
}
