@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap);* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}

header {
  height: 150px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header figure {
  margin: 0;
}
header figure img {
  width: 100%;
}
header ul {
  display: flex;
  align-items: center;
  height: 150px;
}
header ul li {
  margin: 10px;
  list-style-type: none;
  height: 100%;
  line-height: 150px;
  text-decoration: none;
}
header ul li a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 10px;
  cursor: pointer;
}

section {
  height: 100%;
  background-color: #242424;
  padding: 2rem;
  display: flex;
  justify-content: center;
}
section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 0;
}
section .container .card {
  display: flex;
  flex-direction: column;
  flex-basis: 16.6666666667%;
  padding: 10px;
  height: 350px;
}
section .container .card img {
  width: 100%;
  height: 250px;
}
section .container .card figcaption {
  color: white;
  text-transform: uppercase;
  padding: 3px;
}
section .container .button {
  position: absolute;
  top: -60px;
  left: 10px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
  background-color: #0c7cec;
}

footer {
  background-image: url("../images/footer-bg.jpg");
  height: 400px;
  width: 100%;
  background-size: cover;
  color: white;
  display: flex;
  overflow: hidden;
}
footer .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .logo {
  align-self: center;
}
footer .links {
  width: 50%;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
}
footer .links .menu h3 {
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
}
footer .links ul {
  list-style-type: none;
}
footer .links ul li {
  margin: 5px 0;
}
footer .links ul li a {
  text-decoration: none;
  color: lightgrey;
}