@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap);* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
}

header {
  height: 150px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header figure {
  margin: 0;
}
header figure img {
  width: 100%;
}
header ul {
  display: flex;
  align-items: center;
  height: 150px;
}
header ul li {
  margin: 10px;
  list-style-type: none;
  height: 100%;
  line-height: 150px;
  text-decoration: none;
}
header ul li a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 10px;
  cursor: pointer;
}

#hero {
  background-image: url("../images/jumbotron.jpg");
  height: 350px;
}

.cards {
  height: 100%;
  background-color: #242424;
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.cards .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 0;
}
.cards .container .card {
  display: flex;
  flex-direction: column;
  flex-basis: 16.6666666667%;
  padding: 10px;
  height: 350px;
}
.cards .container .card img {
  width: 100%;
  height: 250px;
}
.cards .container .card figcaption {
  color: white;
  text-transform: uppercase;
  padding: 3px;
}
.cards .container .button {
  position: absolute;
  top: -60px;
  left: 10px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
  background-color: #0c7cec;
}

footer .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .footer-top {
  background-image: url("../images/footer-bg.jpg");
  height: 400px;
  width: 100%;
  background-size: cover;
  color: white;
  overflow: hidden;
  display: flex;
}
footer .footer-top .logo {
  align-self: center;
}
footer .footer-top .links {
  width: 50%;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}
footer .footer-top .links .menu {
  padding: 0.5rem;
}
footer .footer-top .links .menu h3 {
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
}
footer .footer-top .links ul {
  list-style-type: none;
}
footer .footer-top .links ul li {
  margin: 5px 0;
}
footer .footer-top .links ul li a {
  text-decoration: none;
  color: lightgrey;
}
footer .footer-bottom .media {
  background-color: #242424;
  height: 100px;
  display: flex;
  align-items: center;
}
footer .footer-bottom .social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}
footer .footer-bottom .social h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: #0c7cec;
}
footer .footer-bottom .social a,
footer .footer-bottom a {
  display: block;
  text-decoration: none;
  color: #fff;
}
footer .footer-bottom .button {
  padding: 10px 15px;
  border: 1px solid #0c7cec;
  height: 50px;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
footer .footer-bottom .wrapper {
  align-items: center;
}